In [1]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00502/online_retail_II.xlsx"

In [2]:
!mkdir ../data/raw

mkdir: cannot create directory ‘../data/raw’: File exists

In [3]:
!wget -O ../data/raw/online_retail_II.xlsx {url}

--2021-05-17 18:28:31--  https://archive.ics.uci.edu/ml/machine-learning-databases/00502/online_retail_II.xlsx
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45622278 (44M) [application/x-httpd-php]
Saving to: ‘../data/raw/online_retail_II.xlsx’

../data/raw/online_ 100%[===================>]  43,51M   986KB/s    in 88s

2021-05-17 18:29:59 (507 KB/s) - ‘../data/raw/online_retail_II.xlsx’ saved [45622278/45622278]

In [4]:
import pandas as pd

In [5]:
%%time
df = pd.concat(
    [
        pd.read_excel("../data/raw/online_retail_II.xlsx", sheet_name=0),
        pd.read_excel("../data/raw/online_retail_II.xlsx", sheet_name=1),
    ]
)
df

CPU times: user 1min 17s, sys: 368 ms, total: 1min 18s
Wall time: 1min 18s

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [6]:
%%time
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1067371 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 73.3+ MB
CPU times: user 124 ms, sys: 3.9 ms, total: 128 ms
Wall time: 126 ms

In [7]:
%%time
df.to_csv("../data/raw/online_retail_II.csv.gz", compression="gzip", index=False)

CPU times: user 6.98 s, sys: 27.9 ms, total: 7.01 s
Wall time: 7.01 s

In [8]:
%%time
df.to_csv("../data/raw/online_retail_II.csv", index=False)

CPU times: user 3.46 s, sys: 88 ms, total: 3.54 s
Wall time: 3.56 s