In [1]:
import cudf
import pandas as pd

In [2]:
%%time
cpu_df = pd.read_csv("../data/raw/online_retail_II_x0_1.csv")

CPU times: user 12.1 ms, sys: 238 Âµs, total: 12.3 ms
Wall time: 12.9 ms

In [3]:
%%time
gpu_df = cudf.read_csv("../data/raw/online_retail_II_x0_1.csv")

CPU times: user 406 ms, sys: 170 ms, total: 576 ms
Wall time: 696 ms

In [4]:
%time cpu_df.info()
%time gpu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      10000 non-null  object
 1   StockCode    10000 non-null  object
 2   Description  9984 non-null   object
 3   Quantity     10000 non-null  int64
 4   InvoiceDate  10000 non-null  object
 5   Price        10000 non-null  float64
 6   Customer ID  7195 non-null   float64
 7   Country      10000 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 625.1+ KB
CPU times: user 11.5 ms, sys: 0 ns, total: 11.5 ms
Wall time: 11.9 ms
<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      10000 non-null  object
 1   StockCode    10000 non-null  object
 2   Description  9984 non-null   object
 3   Quantity     10000 non-null  int64
 4   InvoiceDate  10000 non-null  object
 5   Price        10000 non-null  float64
 6   Customer ID  7195 non-null   float64
 7   Country      10000 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.1+ MB
CPU times: user 7.24 ms, sys: 1.33 ms, total: 8.56 ms
Wall time: 11.4 ms

In [5]:
%time cpu_descr = cpu_df.describe(include="O")
%time gpu_descr = gpu_df.describe(include="O")
display(cpu_descr)
display(gpu_descr)

CPU times: user 16.4 ms, sys: 0 ns, total: 16.4 ms
Wall time: 15.8 ms
CPU times: user 130 ms, sys: 9.41 ms, total: 139 ms
Wall time: 175 ms

,Invoice,StockCode,Description,InvoiceDate,Country
count,10000,10000,9984,10000,10000
unique,458,2129,2113,402,15
top,490074,22086,PAPER CHAIN KIT 50'S CHRISTMAS,2009-12-03 14:39:00,United Kingdom
freq,580,69,69,580,9540

,Invoice,StockCode,Description,InvoiceDate,Country
count,10000,10000,9984,10000,10000
unique,458,2129,2114,402,15
top,490074,22086,PAPER CHAIN KIT 50'S CHRISTMAS,2009-12-03 14:39:00,United Kingdom
freq,580,69,69,580,9540

In [6]:
%time cpu_descr = cpu_df.describe()
%time gpu_descr = gpu_df.describe()
display(cpu_descr)
display(gpu_descr)

CPU times: user 6.02 ms, sys: 2.99 ms, total: 9.01 ms
Wall time: 14.2 ms
CPU times: user 22.3 ms, sys: 0 ns, total: 22.3 ms
Wall time: 26.2 ms

           Quantity         Price   Customer ID
count  10000.000000  10000.000000   7195.000000
mean      10.265500      4.430561  15488.444614
std       97.878045     26.527995   1590.150291
min    -1043.000000      0.000000  12362.000000
25%        1.000000      1.250000  14159.000000
50%        3.000000      2.570000  15581.000000
75%        8.000000      4.950000  16823.000000
max     5184.000000   1998.490000  18287.000000

           Quantity         Price   Customer ID
count  10000.000000  10000.000000   7195.000000
mean      10.265500      4.430561  15488.444614
std       97.878045     26.527995   1590.150291
min    -1043.000000      0.000000  12362.000000
25%        1.000000      1.250000  14159.000000
50%        3.000000      2.570000  15581.000000
75%        8.000000      4.950000  16823.000000
max     5184.000000   1998.490000  18287.000000

In [7]:
%time cpu_df.groupby("Country").Price.sum()
%time gpu_df.groupby("Country").Price.sum()
print()

CPU times: user 2.17 ms, sys: 0 ns, total: 2.17 ms
Wall time: 1.37 ms
CPU times: user 4.64 ms, sys: 52 Âµs, total: 4.7 ms
Wall time: 4.61 ms

In [8]:
%time cpu_df.groupby("Invoice").Price.sum()
%time gpu_df.groupby("Invoice").Price.sum()
print()

CPU times: user 2.47 ms, sys: 1.22 ms, total: 3.7 ms
Wall time: 2.66 ms
CPU times: user 6.96 ms, sys: 0 ns, total: 6.96 ms
Wall time: 6.23 ms