In [1]:
import cudf
import pandas as pd

In [2]:
%%time
cpu_df = pd.read_csv("../data/raw/online_retail_II.csv").iloc[:50000]

CPU times: user 661 ms, sys: 47.1 ms, total: 708 ms
Wall time: 716 ms

In [3]:
%%time
gpu_df = cudf.read_csv("../data/raw/online_retail_II.csv").iloc[:50000] # più lento perché il csv è sul disco la prima volta, la seconda più veloce

CPU times: user 518 ms, sys: 211 ms, total: 729 ms
Wall time: 734 ms

In [4]:
%time cpu_df.info()
%time gpu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      50000 non-null  object
 1   StockCode    50000 non-null  object
 2   Description  49734 non-null  object
 3   Quantity     50000 non-null  int64
 4   InvoiceDate  50000 non-null  object
 5   Price        50000 non-null  float64
 6   Customer ID  36103 non-null  float64
 7   Country      50000 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.1+ MB
CPU times: user 12.5 ms, sys: 2.77 ms, total: 15.3 ms
Wall time: 13.9 ms
<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      50000 non-null  object
 1   StockCode    50000 non-null  object
 2   Description  49734 non-null  object
 3   Quantity     50000 non-null  int64
 4   InvoiceDate  50000 non-null  object
 5   Price        50000 non-null  float64
 6   Customer ID  36103 non-null  float64
 7   Country      50000 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.5+ MB
CPU times: user 8.1 ms, sys: 57 µs, total: 8.16 ms
Wall time: 8.03 ms

In [5]:
%time cpu_descr = cpu_df.describe(include="O")
%time gpu_descr = gpu_df.describe(include="O")
display(cpu_descr)
display(gpu_descr)

CPU times: user 31.5 ms, sys: 0 ns, total: 31.5 ms
Wall time: 30.5 ms
CPU times: user 138 ms, sys: 4.91 ms, total: 143 ms
Wall time: 143 ms

,Invoice,StockCode,Description,InvoiceDate,Country
count,50000,50000,49734,50000,50000
unique,2638,3211,3116,2280,24
top,490074,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2009-12-03 14:39:00,United Kingdom
freq,580,379,378,580,47166

,Invoice,StockCode,Description,InvoiceDate,Country
count,50000,50000,49734,50000,50000
unique,2638,3211,3117,2280,24
top,490074,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2009-12-03 14:39:00,United Kingdom
freq,580,379,378,580,47166

In [6]:
%time cpu_descr = cpu_df.describe()
%time gpu_descr = gpu_df.describe()
display(cpu_descr)
display(gpu_descr)

CPU times: user 12 ms, sys: 28 µs, total: 12 ms
Wall time: 11.2 ms
CPU times: user 33.9 ms, sys: 4.65 ms, total: 38.5 ms
Wall time: 38.4 ms

           Quantity         Price   Customer ID
count  50000.000000  50000.000000  36103.000000
mean      10.286000      4.329999  15419.529402
std       61.711476     21.533923   1672.573649
min    -2127.000000      0.000000  12346.000000
25%        1.000000      1.250000  14080.000000
50%        3.000000      2.570000  15456.000000
75%        8.000000      4.950000  16887.000000
max     5184.000000   1998.490000  18287.000000

           Quantity         Price   Customer ID
count  50000.000000  50000.000000  36103.000000
mean      10.286000      4.329999  15419.529402
std       61.711476     21.533923   1672.573649
min    -2127.000000      0.000000  12346.000000
25%        1.000000      1.250000  14080.000000
50%        3.000000      2.570000  15456.000000
75%        8.000000      4.950000  16887.000000
max     5184.000000   1998.490000  18287.000000

In [7]:
%time cpu_df.groupby("Country").Price.sum()
%time gpu_df.groupby("Country").Price.sum()
print()

CPU times: user 4.99 ms, sys: 330 µs, total: 5.32 ms
Wall time: 4.38 ms
CPU times: user 6.81 ms, sys: 0 ns, total: 6.81 ms
Wall time: 6.74 ms

In [8]:
%time cpu_df.groupby("Invoice").Price.sum()
%time gpu_df.groupby("Invoice").Price.sum()
print()

CPU times: user 4.6 ms, sys: 0 ns, total: 4.6 ms
Wall time: 3.75 ms
CPU times: user 6.04 ms, sys: 661 µs, total: 6.7 ms
Wall time: 6.68 ms