In [1]:
import cudf
import pandas as pd

In [5]:
%%time
cpu_df = pd.read_csv("../data/raw/online_retail_II.csv")

CPU times: user 704 ms, sys: 76.6 ms, total: 781 ms
Wall time: 785 ms

In [6]:
%%time
gpu_df = cudf.read_csv("../data/raw/online_retail_II.csv") # più lento perché il csv è sul disco la prima volta, la seconda più veloce

CPU times: user 63.2 ms, sys: 27.9 ms, total: 91.1 ms
Wall time: 92 ms

In [9]:
%time cpu_df.info()
%time gpu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB
CPU times: user 112 ms, sys: 4 µs, total: 112 ms
Wall time: 111 ms
<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 116.4+ MB
CPU times: user 5.13 ms, sys: 8.06 ms, total: 13.2 ms
Wall time: 13.4 ms

In [13]:
%time cpu_descr = cpu_df.describe(include="O")
%time gpu_descr = gpu_df.describe(include="O")
display(cpu_descr)
display(gpu_descr)

CPU times: user 408 ms, sys: 19.8 ms, total: 427 ms
Wall time: 427 ms
CPU times: user 324 ms, sys: 16.2 ms, total: 340 ms
Wall time: 340 ms

,Invoice,StockCode,Description,InvoiceDate,Country
count,1067371,1067371,1062989,1067371,1067371
unique,53628,5305,5698,47635,43
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-06 16:57:00,United Kingdom
freq,1350,5829,5918,1350,981330

,Invoice,StockCode,Description,InvoiceDate,Country
count,1067371,1067371,1062989,1067371,1067371
unique,53628,5305,5699,47635,43
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-06 16:57:00,United Kingdom
freq,1350,5829,5918,1350,981330

In [14]:
%time cpu_descr = cpu_df.describe()
%time gpu_descr = gpu_df.describe()
display(cpu_descr)
display(gpu_descr)

CPU times: user 104 ms, sys: 0 ns, total: 104 ms
Wall time: 104 ms
CPU times: user 39.8 ms, sys: 27.7 ms, total: 67.6 ms
Wall time: 69 ms

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [18]:
%time cpu_df.groupby("Country").Price.sum()
%time gpu_df.groupby("Country").Price.sum()
print()

CPU times: user 52.7 ms, sys: 24 µs, total: 52.7 ms
Wall time: 51.9 ms
CPU times: user 9.49 ms, sys: 15.9 ms, total: 25.4 ms
Wall time: 26.3 ms

In [17]:
%time cpu_df.groupby("Invoice").Price.sum()
%time gpu_df.groupby("Invoice").Price.sum()
print()

CPU times: user 65.4 ms, sys: 7.91 ms, total: 73.3 ms
Wall time: 72.5 ms
CPU times: user 11.1 ms, sys: 8.13 ms, total: 19.3 ms
Wall time: 20.3 ms