In [17]:
import pandas as pd
from pydruid.db import connect

In [20]:
con = connect(host='localhost', port=8889, path='/druid/v2/sql/', scheme='http')

In [21]:
pd.read_sql_query("SELECT Invoice, SUM(Price*Quantity) as invoice_sum FROM online_retail GROUP BY Invoice ORDER BY invoice_sum DESC", con=con)

       Invoice  invoice_sum
0       581483    168469.60
1       541431     77183.60
2       574941     52940.94
3       576365     50653.91
4       533027     49844.99
...        ...          ...
53623  C556445    -38970.00
53624  A516228    -44031.79
53625  A506401    -53594.36
53626  C541433    -77183.60
53627  C581484   -168469.60

[53628 rows x 2 columns]