In [1]:
import cudf
import pandas as pd

In [2]:
%%time
cpu_df = pd.read_csv("../data/raw/online_retail_II_x10.csv")

CPU times: user 6.23 s, sys: 596 ms, total: 6.83 s
Wall time: 6.85 s

In [3]:
%%time
gpu_df = cudf.read_csv("../data/raw/online_retail_II_x10.csv") # più lento perché il csv è sul disco la prima volta, la seconda più veloce

CPU times: user 918 ms, sys: 297 ms, total: 1.21 s
Wall time: 1.22 s

In [4]:
%time cpu_df.info()
%time gpu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10673710 entries, 0 to 10673709
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   Invoice      object
 1   StockCode    object
 2   Description  object
 3   Quantity     int64
 4   InvoiceDate  object
 5   Price        float64
 6   Customer ID  float64
 7   Country      object
dtypes: float64(2), int64(1), object(5)
memory usage: 651.5+ MB
CPU times: user 4.86 ms, sys: 146 µs, total: 5.01 ms
Wall time: 4.63 ms
<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 10673710 entries, 0 to 10673709
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   Invoice      object
 1   StockCode    object
 2   Description  object
 3   Quantity     int64
 4   InvoiceDate  object
 5   Price        float64
 6   Customer ID  float64
 7   Country      object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.1+ GB
CPU times: user 3.5 ms, sys: 1.83 ms, total: 5.33 ms
Wall time: 4.37 ms

In [5]:
%time cpu_descr = cpu_df.describe(include="O")
%time gpu_descr = gpu_df.describe(include="O")
display(cpu_descr)
display(gpu_descr)

CPU times: user 3.86 s, sys: 108 ms, total: 3.97 s
Wall time: 3.98 s
CPU times: user 3.09 s, sys: 48 ms, total: 3.14 s
Wall time: 3.19 s

,Invoice,StockCode,Description,InvoiceDate,Country
count,10673710,10673710,10629890,10673710,10673710
unique,53628,5305,5698,47635,43
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-06 16:57:00,United Kingdom
freq,13500,58290,59180,13500,9813300

,Invoice,StockCode,Description,InvoiceDate,Country
count,10673710,10673710,10629890,10673710,10673710
unique,53628,5305,5699,47635,43
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-06 16:57:00,United Kingdom
freq,13500,58290,59180,13500,9813300

In [6]:
%time cpu_descr = cpu_df.describe()
%time gpu_descr = gpu_df.describe()
display(cpu_descr)
display(gpu_descr)

CPU times: user 841 ms, sys: 192 ms, total: 1.03 s
Wall time: 1.04 s
CPU times: user 167 ms, sys: 19.9 ms, total: 187 ms
Wall time: 198 ms

           Quantity         Price   Customer ID
count  1.067371e+07  1.067371e+07  8.243640e+06
mean   9.938898e+00  4.649388e+00  1.532464e+04
std    1.727057e+02  1.235530e+02  1.697464e+03
min   -8.099500e+04 -5.359436e+04  1.234600e+04
25%    1.000000e+00  1.250000e+00  1.397500e+04
50%    3.000000e+00  2.100000e+00  1.525500e+04
75%    1.000000e+01  4.150000e+00  1.679700e+04
max    8.099500e+04  3.897000e+04  1.828700e+04

           Quantity         Price   Customer ID
count  1.067371e+07  1.067371e+07  8.243640e+06
mean   9.938898e+00  4.649388e+00  1.532464e+04
std    1.727057e+02  1.235530e+02  1.697464e+03
min   -8.099500e+04 -5.359436e+04  1.234600e+04
25%    1.000000e+00  1.250000e+00  1.397500e+04
50%    3.000000e+00  2.100000e+00  1.525500e+04
75%    1.000000e+01  4.150000e+00  1.679700e+04
max    8.099500e+04  3.897000e+04  1.828700e+04

In [7]:
%time cpu_df.groupby("Country").Price.sum()
%time gpu_df.groupby("Country").Price.sum()
print()

CPU times: user 447 ms, sys: 44.2 ms, total: 491 ms
Wall time: 492 ms
CPU times: user 22.6 ms, sys: 3.85 ms, total: 26.4 ms
Wall time: 26.5 ms

In [8]:
%time cpu_df.groupby("Invoice").Price.sum()
%time gpu_df.groupby("Invoice").Price.sum()
print()

CPU times: user 398 ms, sys: 52.1 ms, total: 450 ms
Wall time: 452 ms
CPU times: user 9.3 ms, sys: 4.15 ms, total: 13.4 ms
Wall time: 13.4 ms